.git
.github
.gitlab-ci.yml
.editorconfig
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
vendor
.env
.env.*
!.env.example
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
Dockerfile
docker-compose*.yml
.dockerignore
*.md
setup_lan_firewall.*
composer.phar
