<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="APP_KEY" value="base64:4pZ2h7n2V9n8n+p/LhN5Yv1kQzR6S8t0W2v4x6y8z0A="/>
        <env name="DOOR_A_WEBHOOK_SECRET" value="secret_door_a_9981"/>
        <env name="DOOR_B_WEBHOOK_SECRET" value="secret_door_b_9982"/>
        <env name="DOOR_C_WEBHOOK_SECRET" value="secret_door_c_9983"/>
        <env name="DOOR_D_WEBHOOK_SECRET" value="secret_door_d_9984"/>
        <env name="ISAPI_DEVICE_SECRET" value="secret_simulator_key_2026"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
